@media only screen and (max-width: 1300px) {
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
  }

  .inside-nav {
    justify-content: space-between;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    padding: 5px;
    border: 5px solid gray;
    border-radius: 8px;
  }

  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1800px at 90% -10%);
    -webkit-clip-path: circle(1800px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
    padding: 40px 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.1s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.3s;
  }

  li.fade {
    opacity: 1;
  }

  .banner {
    flex-direction: column;
    height: auto;
  }

  .intro-section,
  .background {
    width: 100%;
  }
}
